API_ID=1621962
API_HASH=6f019552c1cf83dec1851516b1bb099c
BOT_TOKEN=7773692155:AAGVRclk7is2Sj-0f2QuGk2uhTI7LbzCA3A
OWNER_ID=7089056796
SESSION=BQAYv8oAaBnAWI0lFivc2ujPqfgbWhOsDeAoMjAwxb6howjIqxuwiYUxIn2duaaCNFMo_twvWR6yqxsdlFd2RtqQuCWL5Bbz7NjApR0RbP6dpLbGfJ4hqi8S0GIno1b4EScP-jadC4nWPxTFMOWvJENkjSG39NW5opj3AHklakIpaACF37SUzSffTatUUhk0XaRBxVcoobAu8hNCXfZfrt-wq2IivLY2hDAoCNiaeqQyW9oUyEyPaDdwpIG5sVAIOa-P_kGovhinW0phEYT_ytrFyAgr29zcv2uL62wy0wIiy-Cd5C9HpBRAM8o85cFGcZ7etX06m3Vb7hrHUQ4eseNu2vEu_gAAAAGbfh9mAA
